#!/bin/sh
{{ if eq .chezmoi.os "linux" -}}
sudo apt update -yq
sudo apt install software-properties-common build-essential -yq
wget https://github.com/dandavison/delta/releases/download/0.16.5/git-delta-musl_0.16.5_amd64.deb
sudo dpkg -i git-delta-musl_0.16.5_amd64.deb
wget https://github.com/lsd-rs/lsd/releases/download/v1.0.0/lsd-musl_1.0.0_amd64.deb
sudo dpkg -i lsd-musl_1.0.0_amd64.deb
rm -rf git-delta-musl_0.16.5_amd64.deb* lsd-musl_1.0.0_amd64.deb* packages
{{ else if eq .chezmoi.os "darwin" -}}
if command -v brew &> /dev/null
then
  echo "🟡 starship prompt is available."
else
  echo "🟡 installing starship prompt."

	sudo sh -c "$(curl -fsSL https://starship.rs/install.sh)" -- --force

  echo "✅ starship prompt is installed."
fi
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
brew install $(cat packages) -y
brew install lsd -y
{{- end }}
if command -v cargo &> /dev/null
then
  echo "🟡 Rust&Cargo is available."
else
  echo "🟡 installing Rust&Cargo."

	sudo sh -c "$(curl -fsSL https://sh.rustup.rs)" -- --force

  echo "✅ Rust&Cargo is installed."
fi


if command -v starship &> /dev/null
then
  echo "🟡 starship prompt is available."
else
  echo "🟡 installing starship prompt."

	sudo sh -c "$(curl -fsSL https://starship.rs/install.sh)" -- --force

  echo "✅ starship prompt is installed."
fi

FISH_PATH="$(which fish)"

if grep -qi "$FISH_PATH" /etc/shells
then
  echo "🟡 fish is in /etc/shells."
else
  echo "$FISH_PATH" | sudo tee -a /etc/shells
  echo "✅ added fish to /etc/shells!"
fi
chsh -s "$FISH_PATH"
